.dynamic-text {
    position: relative;
    display: flex;

    $color-1: #a6d3df;
    $color-2: #00c1ec;
    $color-3: #e7f7fe;
    $color-4: rgb(141, 141, 141);
    $black: rgb(40, 40, 40);
    $red: rgb(253, 87, 87);
  
    .simply {
      color: rgb(141, 141, 141);
    }
  
    #text-target {
      display: flex;
      width: 300px;
      text-align: left;
      animation: color 30s alternate infinite;
      perspective: 200px;
      transform: translateX(26px);
    }
    .word {
      position: absolute;
    }
    @keyframes color {
      0% {
        color: #00c1ec;
      }
      50% {
        color: rgb(141, 141, 141);
      }
      100% {
        color: #00c1ec;
      }
    }
    .letter {
      transform: translateZ(200px);
    }
    @keyframes anim {
      25% {
        transform: translateZ(0px);
        opacity: 1;
      }
      32% {
        opacity: 0;
        transform: translateZ(-280px) translateX(200px);
      }
    }
  }